layout

block content
  #wrapper
    #display
      include userbar
      
      p The #{name.toLowerCase()} is one of the must-have items for any aspiring hacker. It costs just $#{price} on our store.
      p Buy it today!
      
    include footer
